.mat-card {
border: 2px inset;
margin: 40px;
padding: 10px;
}

.card {
    border: 2px inset;
    margin: 40px;
    padding: 10px;
    }

.foto-de-perfil {
    position:top;
    border-radius: 100px;
    float: left;
    z-index: 1;
}

h1 {
    font-size: 20px;
}

body {
background-image: url(https://www.latercera.com/resizer/sjr5z7PtsVq-HUpPkvgvVF3jmkI=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/BJR47U2GXRCFZFOAZH55MXUITE.jpg);
}

ul {
    font-size: 1rem;
    list-style-type: square;
    list-style-position: inside;  
};
