.mat-card {
border: 2px inset;
margin: 40px;
padding: 10px;
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.card {
    border: 2px inset;
    margin: 40px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    }

.foto-de-perfil {
    position:top;
    border-radius: 100px;
    float: left;
    z-index: 1;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

body {
background-image: url(https://www.latercera.com/resizer/sjr5z7PtsVq-HUpPkvgvVF3jmkI=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/BJR47U2GXRCFZFOAZH55MXUITE.jpg);
}

ul {
    list-style: none;
    list-style-position: inside;  
};
